<!DOCTYPE html>
<html>
<head>
    <title>Overnight Camping</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>

<body>
    <header class="head">
        <div class="container">
            <nav>
                    <ul class="menu">
                        <li><a href="{{url_for('index') }}">Home</a></li>
                        <li><a href="{{url_for('about') }}">About</a></li>
                        <li><a href="{{url_for('content') }}">Content Generation</a></li>
                    </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        {%block content%}
        {%endblock%}
    </div>

</body>
</html>
